---
---
<section>
    <h3 class="text-3xl font-bold text-center mb-6">Are You ... ?</h3>
    <div>
          <strong>Student/Researcher Learning ORAM</strong> 
        <ul>
            <li>Get Started with this blog on what is oblivious algorithms</li>
            <li>Check out this blog on more indepth if you've known what it is</li>
            <li>Sign up to our mailing list for updates on ORAM</li>
        </ul>
    </div>
    <div>
          <strong>Engineer/PM Implementing ORAMs</strong> 
        <ul>
            <li>Check out our open-source projects on GitHub</li>
            <li>Read our technical blogs and tutorial</li>
            <li>Contact us to how to implement secure and efficient oblivious algorithms</li>
        </ul>
    </div>
    <div>
          <strong>Business Going Oblivoius</strong> 
        <ul>
            <li>Check out our case study on Signal's private contact discovery</li>
            <li>Contact xxx for more information</li>
        </ul>
    </div>
</section>