---
---
<div>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">Here are a detailed breakdown about this webpage</code
      >
    </p>
    <ul class="mt-5">
      <li>
        <strong>Home</strong>
        The landing page with usage instructions and a brief about the project.
      </li>
      <li>
        <strong><a href="/blog">Blog</a></strong>
        A list of blogs on oblivious algorithms explanations, implementations, and case studies.
        If you want to start learning about oblivious algorithms, this is the place to start.
      </li>
      <li>
        <strong><a href="/projects">Projects</a></strong> Various impelementations of oblivious algorithms by different contributors.

      </li>
    </ul>
  </div>
  